<main class="container my-5">
    <section>
        <h2 class="section-title mb-4">Acerca del desarrollador</h2>
        <div class="card shadow-sm">
            <div class="card-body">
                <p><strong>Nombre:</strong> Jonatan Galan</p>
                <p><strong>Edad:</strong> 30 años</p>
                <p><strong>Correo:</strong> juan.perezgmail.com</p>
            </div>
        </div>
    </section>

    <section class="about mt-5">
        <h2 class="section-title mb-4">Acerca del Desarrollador</h2>
        <div class="card shadow-sm">
            <div class="card-body">
                <p><strong>Nombre:</strong> Jonatan Galan</p>
                <p><strong>Descripción:</strong> Soy un desarrollador web con experiencia en diversas tecnologías, especialmente en HTML, CSS y frameworks como Bootstrap y Angular.</p>
                <p><strong>Información:</strong>Aparte de estar interesado en la parte tecnologica me agrada jugar videojuegos, leer y </p>
            </div>
        </div>
    </section>
</main>
